body{
    color: #181818;
    font-size: 16px;
    font-weight: 400;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
    @media (max-width: 1140px) {
        max-width: 992px;
    }
    @media (max-width: 992px) {
        max-width: 768px;
    }
    @media (max-width: 768px) {
        max-width: 576px;
    }
}

.background_style_block{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.common_background{
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 35px rgba(68, 102, 223, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.btn{
    background: #4466DF;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}
.support_btn{
    font-weight: 500;
    font-size: 20px;
    padding: 10px 41px;
    border: 1px solid #4466DF;
    transition: all 0.1s ease;
    @media (max-width: 576px) {
        font-size: 18px;
    }
    &:hover{
        color: #4466DF;
        background: rgba(255, 255, 255, 0.4);
        box-shadow: 0 1px 35px rgba(68, 102, 223, 0.1);
        backdrop-filter: blur(5px);
    }
}

.title_page{
    margin-top: 70px;
    @media (max-width: 992px) {
        margin-top: 40px;
    }
}

.title{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 10px;
    @media (max-width: 576px) {
        font-size: 34px;
    }
}
.subtitle{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #434343;
}
.wrapper_input{
    position: relative;
}
.mail_input{
    background: rgba(255, 255, 255, 0.7);
    height: 36px;
    border-radius: 20px;
    width: 100%;
    padding: 10px 125px 10px 20px ;
    font-weight: 400;
    font-size: 14px;
    color: #858585
}
.input_btn{
    display: inline-block;
    height: 100%;
    padding: 0 29px;
}

.btn_wrapper_mail{
    position: absolute;
    padding: 0 !important;
    right: 0;
    top: 0;
    bottom: 0;
    &:hover{
        padding: 1px !important;
        .input_btn{
            padding: 0 28px;
        }
    }
}

.section_title{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
    .tariff_title{
        margin-bottom: 12px;
        @media (max-width: 576px) {
            font-size: 30px;
        }
    }
    .tariff_subtitle{
        font-size: 20px;
        font-weight: 400;
        color: #434343;
    }
    .more{
        flex: 0 0 113px;
        display: flex;
        margin-left: 10px;
        justify-content: end;
        align-items: center;
        color: #000000;
        .section_arrow{
            width: 20px;
            height: 12px;
            margin-left: 10px;
        }
    }
}
.bottom_cluster{
     background: rgba(255, 255, 255, 0.4);
     box-shadow: 0 1px 35px rgba(68, 102, 223, 0.1);
     backdrop-filter: blur(5px);
     border-radius: 20px;
     text-align: center;
     margin-bottom: 60px;
     padding: 66px 0;
    @media (max-width: 768px) {
        padding: 36px;
    }
    .cluster_title{
        margin-bottom: 6px;
        color: #060606;
        @media (max-width: 420px) {
            font-size: 30px;
        }
    }
    .cluster_subtitle{
        margin-bottom: 40px;
        color: #858585;
        font-weight: 400;
        @media (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

 }


input:focus, textarea:focus{
    box-shadow: 0 0 0 1px #EABA11 !important;
}

.filled_input{
    box-shadow: 0 0 0 1px #4466DF !important;
    background: #FFFFFF;
    backdrop-filter: blur(5px);
}
.btn_wrapper,.btn_wrapper_bold{
    padding: 1px;
    display: inline-block;
    border-radius: 20px;
    cursor: pointer;
}

.btn_wrapper:hover{
    box-shadow: 0 0 0 1px #EABA11;
}
.btn_wrapper_bold{
    &:hover{
        box-shadow: 0 0 0 2px #EABA11;
    }
}



.tariff_column{
    flex: 0 0 330px;
    min-height: 340px;
    @media (max-width: 1140px) {
        flex: 0 0 300px;
    }
    @media (max-width: 992px) {
        flex: 0 0 45%;
        margin-bottom: 30px;
    }
    @media (max-width: 768px) {
        flex: 0 0 100%;
    }
    .tariff_content{
        display: flex;
        flex-direction: column;
        padding: 30px;
        height: 100%;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 1px 35px rgba(68, 102, 223, 0.1);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        color: #060606;
        &:hover{
            box-shadow: 0 0 0 2px #EABA11;
        }
        @media (max-width: 1140px) {
            padding: 25px;
        }
        @media (max-width: 992px) {
            padding: 30px;
        }

        .tariff_content_title{
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 25px;
        }
        .tariff_subtitle{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #858585;
            margin-bottom: 25px;
        }
        .tariff_advs{
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            .tariff_adv{
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 25px;
                flex: 1;
                display: flex;
                &:last-child{
                    margin-bottom: 19px;
                    .img_tariff,.item_adv{
                        opacity: 0.6;
                    }
                }
                .img_tariff{
                    width: 14px;
                    height: 14px;
                    margin-right: 13px;
                }
            }
            .no_last_opacity:last-child{
                .img_tariff,.item_adv{
                    opacity: 1;
                }
            }
        }
        .tariff_price{
            margin-bottom: 16px;
            .rub{
                font-size: 20px;
                line-height: 24px;
                margin-right: 2px;
            }
            span{
                font-size: 40px;
                line-height: 49px;
            }
            .month{
                font-size: 16px;
                line-height: 19px;
                color: #858585;
            }
        }
        .tariff_btn{
            font-weight: 500;
            display: block;
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }
    }
    .tariff_blue{
        background: linear-gradient(139.01deg, rgba(77, 68, 223, 0.5) -17.85%, rgba(0, 187, 255, 0.5) 111.28%);
        color: white;
        .month{
            color: #EDEDED !important;
        }
    }
}
.img_rotate{
    transform: rotate(180deg);
}
.border_yellow{
    box-shadow: 0 0 0 1px #EABA11 !important;
}


.first_scrolled:before, .last_scrolled:after {
    content: "";
    width: 20px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 4;
    @media (max-width: 576px) {
        width: 14px;
    }
}

.list--product{
    position: relative;
    flex: 0 0 calc(20% - 30px);
    margin-right: 30px;
    margin-bottom: 40px;
    @media (max-width: 992px) {
        flex: 0 0 calc(25% - 30px);
    }
    @media (max-width: 768px) {
        flex: 0 0 calc(33.3% - 30px);
    }
    @media (max-width: 576px) {
        margin-right: 40px;
        flex: 0 0 calc(50% - 40px);
    }
    @media (max-width: 450px) {
        margin-right: 16px;
        flex: 0 0 calc(50% - 16px);
    }
    .add--love{
        position: absolute;
        top: 18px;
        right: 18px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background: #4466DF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:  center;
        cursor: pointer;
    }
    .product--body{
        color: #000000;
        .product--img__wrapper{
            width: 100%;
            height: 270px;
            background: #FFFFFF;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px 13px;
            margin-bottom: 12px;

            @media (max-width: 1140px) {
                height: 240px;
            }
            @media (max-width: 768px) {

            }
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .product--title{
            font-size: 20px;
            margin-bottom: 8px;
            line-height: 24px;
        }
        .product--price{
            font-weight: 500;
            font-size: 20px;
        }
    }
}