.wrapper{
  background: linear-gradient(139.01deg, rgba(77, 68, 223, 0.5) -17.85%, rgba(0, 187, 255, 0.5) 111.28%);
}
.header_container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  font-size: 16px;
  .header_menu{
    margin-left: 40px;
    .menu_list{
      display: flex;
      align-items: center;
      color:#181818;
      .menu_item{
        margin-right: 30px;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  .reg_menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    .registration{
      color: #4466DF;
      margin-right: 26px;
    }
    .enter_btn{
      display: inline-block;
      line-height: 30px;
      padding: 0 38px;
    }
  }
}


//UNION ================

.union{
  display: flex;
  margin-top: 20px;
  align-items: center;
  .content_column{
    flex: 0 0 50%;
    height: auto;
    margin-right: 40px;
    .union_content{
      max-width: 470px;
      .union_title{
        font-weight: 500;
        font-size: 48px;
        margin-bottom: 12px;
      }
      .union_subtitle{
        margin-bottom: 20px;
      }
    }
  }
  .image_column{
    width: 550px;
    height: 550px;
    position: relative;
    margin-right: -40px;
    .big_circular {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.6);
      filter: blur(5px);
      backdrop-filter: blur(5px);
    }
    .union_image_wrapper{
      width: 500px;
      height: 500px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      .union_img{
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
      }
    }
  }
}

//Advantages ====================


.advantage{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .column_adv{
    flex: 0 0 280px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 1px 35px rgba(68, 102, 223, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 30px;
    position: relative;
    &:before{
      content: '';
      top: 0;
      left: 0;
      position: absolute;
      width: 50px;
      height: 50px;
      border-top-left-radius: 20px;
      border-top: 3px solid rgba(77, 68, 223, 1);
      border-left: 3px solid rgba(77, 68, 223, 1);
    }
    &:after{
      content: '';
      bottom: 0;
      right: 0;
      position: absolute;
      width: 50px;
      height: 50px;
      border-bottom-right-radius: 20px;
      border-bottom: 3px solid rgba(0, 187, 255, 1);
      border-right: 3px solid rgba(0, 187, 255, 1);
    }
    .adv_content{
      min-height: 210px;
      .adv_image{
        width: 60px;
        height: 58px;
        position: relative;
        overflow: hidden;
        margin-bottom: 16px;
        top: 2px;
        .adv_img{
          width: 100%;
          height: 100%;
          position: absolute;
          top: -2px;
          left: 0;
        }
      }
      .adv_title{
        font-size: 20px;
        line-height: 24px;
        color: #060606;
        margin-bottom: 10px;
      }
      .adv_subtitle{
        font-weight: 400;
        line-height: 19px;
        color: #858585;
      }
    }
  }
}


//Tariffs==========================

.tariff{
  margin-top: 60px;
  margin-bottom: 60px;
  .tariffs_list{
    display: flex;
    justify-content: space-between;
    .tariff_column{
      flex: 0 0 330px;
      min-height: 340px;
      .tariff_content{
        display: flex;
        flex-direction: column;
        padding: 30px;
        height: 100%;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 1px 35px rgba(68, 102, 223, 0.1);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        color: #060606;
        .tariff_content_title{
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 25px;
        }
        .tariff_subtitle{
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #858585;
          margin-bottom: 25px;
        }
        .tariff_advs{
          flex: 1 1 auto;
          .tariff_adv{
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 25px;
            display: flex;
            &:last-child{
              margin-bottom: 19px;
              .img_tariff,.item_adv{
                opacity: 0.6;
              }
            }
            .img_tariff{
              width: 14px;
              height: 14px;
              margin-right: 13px;
            }
          }
        }
        .tariff_price{
          margin-bottom: 16px;
          .rub{
            font-size: 20px;
            line-height: 24px;
            margin-right: 2px;
          }
          span{
            font-size: 40px;
            line-height: 49px;
          }
          .month{
            font-size: 16px;
            line-height: 19px;
            color: #858585;
          }
        }
        .tariff_btn{
          display: block;
          width: 100%;
          text-align: center;
          padding: 10px 0;
        }
      }
      .student{
        background: linear-gradient(139.01deg, rgba(77, 68, 223, 0.5) -17.85%, rgba(0, 187, 255, 0.5) 111.28%);
        color: white;
      }
    }
  }
}


//Team====================
.team{
  .team_title{
    margin-bottom: 26px;
  }
}

//Join==============================

.join{
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 35px rgba(68, 102, 223, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  text-align: center;
  padding: 66px 0;
  margin-bottom: 60px;
  .join_title{
    margin-bottom: 6px;
  }
  .join_subtitle{
    margin-bottom: 40px;
  }
  .join_input_wrapper{
    width: 500px;
    .join_input{
      text-align: left;
    }
  }
}


//Footer=========================
.footer{
  background: #4466DF;
  padding-top: 45px;
  padding-bottom: 30px;
  color: white;
  .footer_container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
    .footer_nav{
      display: flex;
      margin-bottom: 35px;
      .footer_image{
        margin-right: 100px;
        width: 75px;
        height: 75px;
        position: relative;
        .footer_img{
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
      .footer_column{
        display: flex;
        flex-direction: column;
        margin-right: 120px;
        &:last-child{
          margin-right: 0;
        }
        .footer_column_title{
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 20px;
        }
        .footer_item{
          font-weight: 400;
          font-size: 14px;
          margin-bottom: 16px;
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .social_column{
        display: flex;
        flex-direction: row;
        margin-left: auto;
        .social_item{
          width: 36px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(255, 255, 255, 0.7);
          backdrop-filter: blur(5px);
          border-radius: 50%;
          margin-right: 28px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
    .sub_footer{
      display: flex;
      justify-content: space-between;
      .company_name{
        font-weight: 500;
        text-transform: uppercase;
      }
      .country{
        .flag_img{
          width: 30px;
          height: 20px;
          margin-right: 8px;
        }
      }
    }
  }
}

